// Form
$login-color: #54C3FF;
$login-hover-color: #3EABE6;
$register-color: #3ccc71;
$register-hover-color: mediumseagreen;
$error-color: #ff5050;
$error-bg-color: #ffcccc;

// Grey Shades
$shadow-color : rgb(110, 110, 110);
$gray: rgb(150, 150, 150);
$gray-light: rgb(180, 180, 180);
$gray-very-light: rgb(200, 200, 200);
$gray-ultra-light: rgb(210, 210, 210);
$input-background-color: rgb(230,230,230);

// Font
$font-color-light: #fff;